@*@{
    Layout = "~/Views/InvitationForm/Create.cshtml";
}*@


@model My_Follow.Models.InvitationForm

@{
    ViewBag.Title = "Approve";
}
<h1>
    Invitation for registration approved successfully!

</h1>